.card{
    width: 90%;
    max-width: 38rem;
    height: 17rem;
    background-color: rgba(53, 74, 87, 0.447);
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
    padding: 1.5rem;
    box-shadow: 2px 2px 10px rgb(44, 44, 44),2px 2px 20px rgb(21, 20, 20);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    cursor: pointer;
    flex-shrink: 0;
}
.card:hover{
    box-shadow: 2px 2px 10px rgb(163, 244, 253),2px 2px 20px rgb(63, 63, 63);

}
.hover-card{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, rgba(143, 215, 225, 0.365),rgba(86, 80, 80, 0.338));
    transform: translateY(100%);
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(.5rem);
}


.card:hover .hover-card{
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    -ms-transform: translateY(0%);
    -o-transform: translateY(0%);
}
.hover-card img{
    height: 80%;
    filter: drop-shadow(2px 2px 10px rgba(116, 199, 222, 0.795));
    -webkit-filter: drop-shadow(2px 2px 10px rgba(116, 199, 222, 0.795));
}
.card h1{
    background: linear-gradient(to right, rgb(9, 114, 118),rgb(70, 70, 210)
    );
    background-clip: text;
    color: transparent;
    font-size: 3rem;
    font-weight: 700;
}